<button matMiniFab routerLink="/" color="accent" class="go-back" aria-label="Back">
  <mat-icon>arrow_back</mat-icon>
</button>
@if (game() && !game()?.win) {
  <button matMiniFab (click)="remove()" color="accent" class="remove" aria-label="Remove game">
    <mat-icon>close</mat-icon>
  </button>
}

@if (game(); as game) {
  <div class="game-screen">
    <div class="game-screen-summary">
      <h2>
        Red {{ score().red }} : {{ score().blue }} Blue
        <small>{{ gameTime() }}</small>
      </h2>
    </div>
    <div class="game-screen-teams">
      @for (color of colors; track color) {
        <div class="team team--{{ color }}">
          @for (position of positions; track position) {
            @let player = game.teams[color][position];
            @let name = playerService.getPlayerName(player.player);
            <mat-card class="player player--{{ position }}">
              <mat-card-header>
                <fl-avatar mat-card-avatar [playerId]="player.player" [name]="name" />
                <mat-card-title
                  ><strong>{{ name }}</strong></mat-card-title
                >
                <mat-card-subtitle>{{ positionName(position) }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="player-goals">
                  <button matButton="filled" (click)="goal(color, position)">
                    {{ player.goals }}
                  </button>
                </div>
                <div class="player-own-goals">
                  <button matMiniFab color="accent" (click)="goal(color, position, true)">
                    -{{ player.ownGoals }}
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          }
        </div>
      }
    </div>
  </div>
} @else if (game() === null) {
  <div class="not-found">
    <h2>Game not found</h2>
  </div>
} @else {
  <div class="loader">
    <mat-spinner [diameter]="50" [strokeWidth]="5" />
  </div>
}
