<h2 mat-dialog-title class="header">
  <strong>Create new Game!</strong>
  <small>{{ mode() }}</small>
</h2>

<mat-dialog-content>
  @if (players()) {
    <div class="new-game">
      @for (color of colors; track color) {
        @let team = teams[color];
        <div class="team team--{{ color }}" [formGroup]="team.form">
          <div class="team-color">
            <strong>{{ color }}</strong>
          </div>
          <div class="team-players">
            <mat-checkbox formControlName="singlePlayer" color="primary">
              One player in team
            </mat-checkbox>
          </div>
          <div class="team-position">
            <mat-form-field>
              <mat-label>Select {{ color }} team defender</mat-label>
              <input
                matInput
                [matAutocomplete]="defenceAutocomplete"
                formControlName="defence"
                required
              />
              <mat-autocomplete #defenceAutocomplete [displayWith]="displayPlayer">
                @for (player of filterPlayers(team.defence()); track player.id) {
                  <mat-option [value]="player" [disabled]="selected().has(player.id)">
                    <span class="option">
                      <fl-avatar [playerId]="player.id" [name]="player.name" [size]="30" />
                      <span [innerHTML]="player.name | highlight: team.defence()"></span>
                    </span>
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
          @if (!team.singlePlayer()) {
            <div class="team-position">
              <mat-form-field>
                <mat-label>Select {{ color }} team attacker</mat-label>
                <input
                  matInput
                  [matAutocomplete]="offenceAutocomplete"
                  formControlName="offence"
                  required
                />
                <mat-autocomplete #offenceAutocomplete [displayWith]="displayPlayer">
                  @for (player of filterPlayers(team.offence()); track player.id) {
                    <mat-option [value]="player" [disabled]="selected().has(player.id)">
                      <span class="option">
                        <fl-avatar [playerId]="player.id" [name]="player.name" [size]="30" />
                        <span [innerHTML]="player.name | highlight: team.offence()"></span>
                      </span>
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          }
        </div>
        @if ($first) {
          <div class="team team-switch">
            <button matMiniFab (click)="switchTeams()" aria-label="Switch teams">
              <mat-icon>cached</mat-icon>
            </button>
          </div>
        }
      }
    </div>
  } @else {
    <div class="loader">
      <mat-spinner [diameter]="50" [strokeWidth]="5" />
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton (click)="close()">Cancel</button>
  <button
    matButton="elevated"
    color="primary"
    (click)="startGame()"
    [disabled]="!players() || starting()"
  >
    Start new game!
  </button>
</mat-dialog-actions>
