.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header small {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.66em;
  font-weight: 200;
  line-height: 1.4;
}

.new-game {
  display: flex;
  margin: 0 -10px;
  flex-direction: column;
}

.team {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  box-sizing: border-box;

  &-switch {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 10px auto;
    min-width: 40px;
  }
}

.team--red .team-color {
  color: #f44336;
}

.team--blue .team-color {
  color: #3f51b5;
}

.team-color {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 20px;
}

.team-players {
  margin-bottom: 10px;
}

.team-position .mat-mdc-form-field {
  width: 100%;
  display: block;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loader {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .new-game {
    flex-direction: row;
  }

  .team-switch {
    margin: 10px;
    align-self: center;
  }
}
