.game-summary {
  display: flex;
}
.game-summary .col {
  padding: 0 5px;
}
.game-summary .col.team-name {
  width: 100%;
}
.game-summary .col.team-name:first-child {
  text-align: right;
}
.game-summary .current {
  font-weight: bold;
}

.game-row .game-summary {
  color: rgba(0, 0, 0, 0.87);
}
.game-row.win .game-summary {
  color: green;
}
.game-row.lost .game-summary {
  color: darkred;
}
