<mat-accordion class="headers-align">
  <mat-expansion-panel *ngFor="let game of games">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{gameType(game)}}
      </mat-panel-title>
      <mat-panel-title>
        {{teamName(game.teams[0])}}
        {{scoreSummary(game)}}
        {{teamName(game.teams[1])}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      {{ !game.end ? 'unfinished' : 'finished - ' + game.win + ' team win'}}
      <a mat-button routerLink="/game/{{game.id}}">See details</a>
    </div>
  </mat-expansion-panel>
</mat-accordion>
