<div class="player-list">
  <h2 class="player-list__headline">
    Players list
    <button matButton (click)="addNew.set(true)">Add new player</button>
  </h2>

  @if (!players() && !addNew()) {
    <div class="player-list__loader">
      <mat-spinner [diameter]="50" [strokeWidth]="5" />
    </div>
  }

  <mat-accordion class="headers-align">
    <!-- add new player -->
    <mat-expansion-panel [expanded]="addNew()" class="add-player">
      <h3 class="add-player__headline">Add new player</h3>
      <mat-form-field>
        <mat-label>Player name</mat-label>
        <input matInput [formControl]="newPlayerName" (keydown.enter)="addPlayer()" required />
        @if (newPlayerName.invalid) {
          <mat-error>You must enter a value</mat-error>
        }
      </mat-form-field>
      <mat-action-row>
        <button matButton (click)="addNew.set(false)">Cancel</button>
        <button matButton="elevated" color="primary" (click)="addPlayer()">Add player</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- list of players -->
    @for (player of players(); track player.id) {
      <mat-expansion-panel (opened)="addNew.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong class="player-name">
              <fl-avatar [playerId]="player.id" [name]="player.name" [size]="31" />
              {{ player.name }}
            </strong>
          </mat-panel-title>
          <mat-panel-description>
            {{ player.winRatio }}% wins
            @if (showStats()) {
              (played {{ player.games }} {{ player.games === 1 ? 'game' : 'games' }})
            }
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-list>
            @if (showStats()) {
              <h3 matSubheader>Summary</h3>
              <div class="mat-list-group">
                <mat-list-item>
                  <mat-icon matListItemIcon>games</mat-icon>
                  <span matListItemTitle>{{ player.games }}</span>
                  <span matListItemLine>games in total</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>thumbs_up_down</mat-icon>
                  <span matListItemTitle>{{ player.winRatio }}%</span>
                  <span matListItemLine>of win games</span>
                </mat-list-item>
              </div>
              <div class="mat-list-group">
                <mat-list-item>
                  <mat-icon matListItemIcon>thumb_up</mat-icon>
                  <span matListItemTitle>{{ player.wins }}</span>
                  <span matListItemLine>wins</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>thumb_down</mat-icon>
                  <span matListItemTitle>{{ player.loses }}</span>
                  <span matListItemLine>loses</span>
                </mat-list-item>
              </div>
              <mat-divider />
              <h3 matSubheader>Games stats</h3>
              <fl-games-stats [playerId]="player.id" />
            }
            <mat-divider />
            <h3 matSubheader>Games history</h3>
            <fl-game-list [playerId]="player.id" [limit]="!showStats()" />
          </mat-list>
        </ng-template>
      </mat-expansion-panel>
    }
  </mat-accordion>

  <div class="actions">
    <button matButton (click)="toggleStats()">Toggle stats</button>
  </div>
</div>
