.headers-align ::ng-deep .mat-expansion-panel-header-title,
.headers-align ::ng-deep .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align ::ng-deep .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align ::ng-deep .mat-content {
  overflow: visible;
}

.player-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mat-list-group {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.mat-list-group .mat-mdc-list-item {
  width: 100%;
}

.player-list__headline {
  line-height: 36px;
  display: flex;
  justify-content: space-between;
}

.player-list__loader {
  display: flex;
  justify-content: center;
}

.add-player__headline {
  padding-top: 10px;
}

.add-player .mat-mdc-form-field {
  display: block;
  width: 100%;
}
